<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-field">
        <button class="navbar-toggler"
            type="button" 
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigaiton">
                <i class="fas fa-bars"></i>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <a href="#" class="navbar-brand mt-2 mt-lg-0">
            <h3>Rent A Car</h3>
        </a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="#" class="nav-link">Şirket Kaydı</a>
            </li>
            <li class="nav-item">
                <a href="Auth/UserRegister" class="nav-link">Kullanıcı Kaydı</a>
            </li>
            <li class="nav-item">
                <a href="Auth/Login" class="nav-link">Giriş Yap</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>

