*{
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.header{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    left: 5%;
    top:30px;
}

.line-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line{
    width: 70px;
    height: 5px;
    background-color: #009879;
    margin: 2px;
}

.title{
    margin-left: 20px;
    font-size: 40px;
    font-weight: 400;
    color:#009879;
}
.content-table{
    position: relative;
    width: 90%;
    left:5%;
    border-collapse: collapse;
    margin:50px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
    background-color: #009879;
    color:#ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.content-table th,
.content-table td{
    padding: 12px 15px;
    text-align: center;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    font-size: 18px;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}

.content-table tbody tr:nth-of-type(odd){
    font-weight: bold;
    color:#009879;
}


.btn{
    border-radius: 20px;
    border: none;
    text-align: center;
    font-size: 15px;
}

.btn.btn-add{
    position: relative;
    background-color: #009879;
    color: white;
    left:5%;
    padding: 20px 40px 20px 40px;
}

.btn.btn-update{
    background-color: #073dc6;
    color: white;
    left:5%;
    text-align: center;
    padding: 10px 10px;
}

.btn.btn-delete{
    background-color: #dc6008;
    color: white;
    left:5%;
    text-align: center;
    padding: 10px 10px;
}



.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    margin-bottom: 10px;
}

.input-group input{
    width: 250px;
    padding: 15px 15px 15px 50px;
    border:  none;
    border-radius: 30px;
    background: rgba(230, 226, 226, 0.949);
    font-size: 16px;
    color:#ff0157;
}

.input-group i{
    position: absolute;
    top:13px;
    left:17px;
    font-size:18px;
    color: #fff;
}













.form-container{
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    opacity: 0;
    visibility: hidden;
}

.disable{
    opacity: 1;
    visibility: visible;
}

.modal{
    width: 500px;
    background:white center no-repeat;
    background-size: cover;
    position: absolute;
    top: 15%;
    left:27%;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: 0.8s ease-in;
}


.display{
    opacity: 1;
    visibility: visible;
}

.x-btn{
    position: absolute;
    color:#fff;
    right: 20px;
    font-size: 50px;
    cursor: pointer;
}

.form-header{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    margin: 0px 0 110px 0;
    color:#fff;
    background-color: #009879;
}


.form-header h1{
    padding: 10px;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 30px;
}

.form-header h3{
    font-size: 25px;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 10px;
}
